@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

@import 'scss/main';

.login-container {
  width: 800px !important;
  margin-top: 15%;
}

.cursor-pointer {
  cursor: pointer;
}
.custom-pink {
  background-color: #b36eff;
  color: white;
  border: none; 
}

.custom-pink:hover {
  background-color: #9638ff;
  color: white;
}

.custom-small-font {
  font-size: 12px;
}

.btn-outline-custom-pink {
  border-color: #b36eff;
  color: #b36eff;
  background: white;
  height: 2.3rem;
}

.btn-outline-custom-pink:hover {
  background-color: #9638ff;
  color: white;
  border-color: #9638ff;
}

.arrow-outline-custom-pink {
  border-color: #b36eff;
  color: #b36eff;
}

.arrow-outline-custom-pink:hover {
  background-color: #9638ff;
  color: white;
  border-color: #9638ff;
}

.custom-enter-button {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
}
.custom-register-button {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  color: white;
  font-family: 'Arial', sans-serif;
  background: #9638ff;
}

.custom-pink-bg-button {
  font-style: normal;
  color: white;
  background: #9638ff;
}
.custom-button-size {
  width: 20pc;
  height: 3pc;
}

.papyrus-font {
  font-family: 'Papyrus', sans-serif;
}

.button-custom-border-radius {
  border-radius: 8px;
}
