/* Общие стили для контейнера */
.login-container {
  width: 80%; /* Занимает 80% ширины экрана */
  max-width: 600px; /* Максимальная ширина для больших экранов */
  margin: auto; /* Центровка по горизонтали */
  padding: 40px; /* Внутренние отступы */
  background-color: #fff;
  border-radius: 10px;
  //background: transparent;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Центрирование формы */
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Занимает всю высоту экрана */
  padding: 20px; /* Отступы для мобильных устройств */
  background-color: #f8f9fa; /* Фоновый цвет страницы */
  //background-image: url('/assets/images/egypt/egypt1.jpg');
  //background-size: cover; /* Масштабировать картинку, чтобы она покрывала весь контейнер */
  //background-position: center; /* Центрировать изображение */
  //background-repeat: no-repeat; /* Не повторять изображение */
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
  .login-container {
    padding: 20px; /* Уменьшенные отступы */
    width: 90%; /* Ширина формы на маленьких экранах */
  }
}
